{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur mon blog</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis illo maiores dolorem veniam molestiae sequi, sunt quam? Officiis praesentium molestiae, aliquam itaque necessitatibus labore tempora tempore laborum eius ex animi? Corrupti, temporibus possimus nulla omnis et ullam quasi suscipit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatibus fuga quasi cum obcaecati facere voluptas. Totam labore neque, quas natus quod minima, placeat fugit, hic saepe quibusdam eos eaque!</p>
{% endblock %}